.toggle-wrapper {

  .toggle-switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  .label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: #C4C4C4;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  .label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  .toggle-switch:checked + .label {
    background: #32C78D;
  }

  .toggle-switch:checked + .label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  .label:active:after {
    width: 25px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;

  .on,
  .off {
    position: absolute;
    top: 50%;
    pointer-events: none;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;
    color: #382079;
    transform: translateY(-50%);
  }

  .on {
    left: 0;
    padding-left: 2px;
  }

  .off {
    right: 0;
    padding-right: 4px;
  }

  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
  }

  .check-toggle-round-flat + label {
    background-color: #56eea5;
    padding: 2px;
    width: 80px;
    height: 25px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
  }

  label::after,
  label::before {
    display: block;
    position: absolute;
    content: "";
  }

  label::after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 35px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }

  label::before {
    top: 5px;
    right: 2px;
    bottom: 5px;
    left: 2px;
    background-color: #56eea5;
    border-radius: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .check-toggle-round-flat:checked + label:after {
    margin-left: 39px;
  }
}
